@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
body {
  font-family: "Lexend", sans-serif;
  color: #333;
  display: flex;
  justify-content: center;
}

.container {
  max-width: 60vw;
}

.ai,
.user,
.cont {
  display: flex;
  align-items: top;
  margin-top: 20px;
  padding-top: 12px;
}
.ai:before,
.user:before,
.cont:before {
  content: "🤖";
  background: #ccc;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.user:before {
  content: "🙂";
  background: #97D9FF;
}

.cont {
  margin-top: 0;
}
.cont:before {
  content: " ";
  background: transparent;
}

table {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table th {
  background: #eee;
  border: 1px solid #999999;
  padding: 5px;
}

table td {
  border: 1px solid #999999;
  padding: 5px;
}

button {
  font-family: "Lexend", sans-serif;
  min-width: 80px;
  margin-right: 20px;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  padding: 6px 12px;
}

.yes {
  background: green;
}

.no {
  background: red;
  opacity: 0.4;
}

ul, ol {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}
li {
  border: 1px solid #999;
  min-height: 130px;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  margin: 20px;
}
li::marker{
  color: #777;
  font-size: 12px;
}
li span{
  font-size: 12px;
}
ul li{
  list-style: none;
}
.card {
  width: 200px;
  height: fit-content;
  border: 1px solid #888;
  border-radius: 8px;
  padding: 12px;
}
.card .head{
  display: flex;
  align-items: center;
}
.card .head .logo{
  width: 40px;
  height: 40px;
  display: flex;
  background: #ccc;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #7476af;
  margin-right: 12px;
}
.card .head .logo-img{
  width: 40px;
  height: 40px;
  background:url(img/a.png);
  background-size: cover;
  border-radius: 4px;
  margin-right: 12px;
}
.card .head .name span{
  font-size: 12px;
  color: #999;
}
.card .goal {
  font-size: 13px;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.flex-wrap button{
  padding: 0;
}
.flex-wrap button img{
  width: 200px;
  height: 200px;
}
.ui img{
  width: 200px;
}